@if (filmsSeries) {
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>{{ filmsSeries.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ filmsSeries.imageLink }}" alt="Photo of a{{ filmsSeries.title }}">
        <mat-card-content>
            <b>
                {{ filmsSeries.price }}
            </b>
            <p>
            {{ filmsSeries.description }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button>
                <mat-icon>
                    add_shopping_cart
                </mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    
}