<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Deadpool & Wolverine</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://m.media-amazon.com/images/S/pv-target-images/dd6fb66997dd4cb5606b587bb255d2cd2cec20ecbd11852a8f6b07a1358d09a1.jpg" alt="Photo of a Deadpool & Wolverine">
    <mat-card-content>
        <b>
            $19.99
        </b>
        <p>
        Wolverine está se recuperando quando cruza seu caminho com Deadpool. Juntos, eles formam uma equipe e enfrentam um inimigo em comum.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button>
            <mat-icon>
                add_shopping_cart
            </mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
